@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.footer {
  display: flex;
  height: 30vh;
  width: 100%;
  background-color: #0e2b0b;
  line-height: 1.3;
  font-family: Menlo, monospace;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
  list-style-type: none;
  text-decoration: none;
}

@media (min-width: 500px) {
  .list {
    grid-auto-flow: column;
  }
}


.link {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
  font-size: 1.4em;
}

.link:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

.listItem:last-child {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.listItem:hover ~ .listItem p {
  animation: wave-animation 0.3s infinite;
}

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}

@media (max-width: 858px) {
  .list {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .list li{
    font-size: xx-small;
  }
}