*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  list-style-type: none;
  color: black;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: #1b5826;
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb:hover {
  background: #1b5826;
}